form fieldset {
        position: relative;
        left: 490px;
        top: 270px;
        background: #555;
        border: 2px solid #555;
        border-radius: 10px;
        margin: 10px;
        width: 250px;
		z-index: 10;
}

form fieldset * {
        border: 0;
        font: 10px bold "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

form fieldset input {
        width: 190px;
        height: 20px;
        border-radius: 10px;
}

form fieldset button {
        background: #555;
        color: #fff;
        width: 35px;
}